body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: #000000;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.contenido {
    text-align: center;
    padding: 20px;

}

.titulo {
    color: #ffffff;
    margin: 0 0 5px;
}

.texto1 {
    color: #ffffff;
    margin: 0 0 10px;
}

.paisaje {
    width: 90vh;
    background-size: cover;
    height: 80vh;
}